## Hello, world! 출력
print 함수로 Hello, world! 를 출력합니다.

In [0]:
print('Hello, world!')

Hello, world!

In []: 이 In [1]: 로 바뀌었는데, 1은 첫 번째로 실행된 코드라는 뜻임. 노트북에서는 코드 입력 셀이 추가될 수록 숫자가 증가함. 아래에 있는 셀 계속 실행하니까 숫자 계속 증가함.

In [0]:
str = 'www.naver.com'
a, b, c = str.split('.')
print(b)

naver

## 리스트 생성하기
range를 사용하여 숫자로 된 리스트를 생성해보자.

In [0]:
a = []
a

[]

a = list() 로 위의 셸과 동일하게 리스트를 생성할 수 있는데,
'list object is not callable'이라는 오류가 뜬다. ~~아직 해결 못 함.~~ 해결됨!
* Kernel restart 하고 del list 하니까 되더라

In [0]:
a = list()
a

[]

In [0]:
b = []
b.append(1)
b.append(2)
b

[1, 2]

In [0]:
c = 'Hi I am olaf and I like warm hug'.split()
c
c[3]

'olaf'

In [0]:
c[1:4]

['I', 'am', 'olaf']

In [0]:
c[5:-1]

['I', 'like', 'warm']

In [0]:
c[1:]

['I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [0]:
c[:8]

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm']

In [0]:
copy_c = c[:]
copy_c

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [0]:
copy_c2 = c.copy()
copy_c2

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [0]:
c.sort()
c

['Hi', 'I', 'I', 'am', 'and', 'hug', 'like', 'olaf', 'warm']

In [0]:
c.append('yeah')
c

['Hi', 'I', 'I', 'am', 'and', 'hug', 'like', 'olaf', 'warm', 'yeah']

In [0]:
a1, a2 =[1,2,3], [2,3,4]
a2

[2, 3, 4]

## 튜플이란?
튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

1. 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
2. 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

아 그리고 튜플에 값이 하나일때 맨뒤에 ',' 꼭 붙여줘야한다.

In [0]:
t1 = ()
t1

()

In [0]:
t2 = (1,)
t2

(1,)

In [0]:
t3 = (1,2,3)
t3

(1, 2, 3)

## enumerate 함수
* 리스트가 있는 경우, 순서와 리스트 값을 전달하는 기능
* enumerate : 열거하다
* 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력받아서 인덱스 값을 포함하는 enumerate 객체를 리턴한다.
* 보통 for문과 함께 자주 사용된다.

In [0]:
for i, name in enumerate(['apple', 'banana', 'carrot']):
    print(i, name)

0 apple
1 banana
2 carrot

In [0]:
import numpy as np
results = np.zeros((4,3))
# 4*3 행렬 만들고
for i, name in enumerate(['apple', 'banana', 'carrot']):
    results[i,2] = 1
# 리스트에서 i, name 가져와서 (i 는 0, 1, 2, name은 apple, banana, carrot)
# results[i,2]를 1 로 만든다.
results

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [0]:
names = ['Amy', 'Bill', 'Cindy']
for i, name in enumerate(names):
    print('{}번: {}'.format(i+1, name))

1번: Amy
2번: Bill
3번: Cindy

## print 함수와 format 함수

In [0]:
a = 1
b = 2
c = 3
print(' a  = {}, b = {}, c = {}'.format(a,b,c))

 a  = 1, b = 2, c = 3

In [0]:
print('a = {0}, b = {1}, c = {2}'.format(a,b,c))

a = 1, b = 2, c = 3

In [0]:
print('a = {0}, b = {0}, c = {0}'.format(a,b,c))
# format 뒤에있는 값들의 index를 넣으면 그 값이 print 된다.

a = 1, b = 1, c = 1

In [0]:
print('a = {2}, b = {1}, c = {0}'.format(a,b,c))
# format 뒤에있는 값들의 index를 넣으면 그 값이 print 된다.

a = 3, b = 2, c = 1

In [0]:
print('a = [{}], b = [{}], c = [{}]'.format(a,b,c))

a = [1], b = [2], c = [3]

In [0]:
print('a = ({}), b = [{}], c = [{}]'.format(a,b,c))
# {} 자리에 출력되는 거니까, 괄호 바꾸는 거 가능
# c언어에서 %연산자 사용하는 것과 비슷한다고 생각하면 됨

a = (1), b = [2], c = [3]

In [0]:
print('a = [{0:5d}], b = [{1:10d}], c = [{2:20d}]'.format(a,b,c))
#c랑 비슷하네 (index):(몇자리차지)(형태 ex>정수형은 d)

a = [    1], b = [         2], c = [                   3]

In [0]:
print('a = [{0:<5d}], b = [{1:>10d}], c = [{2:^20d}]'.format(a,b,c))
# ':'뒤에 < 붙이면 좌측 정렬, > 는 우측정렬(우측은 필요없긴함), ^는 가운데 정렬

a = [1    ], b = [         2], c = [         3          ]

In [0]:
a = 'apple'
b = 'banana'
a,b

('apple', 'banana')

In [0]:
print('a = {}, b = {}'.format(a,b))

a = apple, b = banana

In [0]:
print('a = {1}, b = {0}'.format(a,b))

a = banana, b = apple

In [0]:
print('a = [{0:10s}], b = [{1:20s}]'.format(a,b))

a = [apple     ], b = [banana              ]

In [0]:
print('a = [{0:<10s}], b = [{1:^20s}]'.format(a,b))

a = [apple     ], b = [       banana       ]

In [0]:
a = 314.15
b = 5.1876
print('a = {}, b = {}'.format(a,b))

a = 314.15, b = 5.1876

In [0]:
print('a = {1}, b = {0}'.format(a,b))

a = 5.1876, b = 314.15

In [0]:
print('a = {0:f}, b = {1:f}'.format(a,b))

a = 314.150000, b = 5.187600

In [0]:
print('a = [{0:10f}], b = [{1:20f}]'.format(a,b))

a = [314.150000], b = [            5.187600]

In [0]:
print('a = [{0:<10f}], b = [{1:^20f}]'.format(a,b))

a = [314.150000], b = [      5.187600      ]

In [0]:
print('a = [{0:10.2f}], b = [{1:5.1f}]'.format(a,b))
# index : (몇자리차지).(소수점뒤에몇자리)(형태 ex> 실수형 f)
# 이때 반올림 돼서 나타나진다.

a = [    314.15], b = [  5.2]

In [0]:
print('a = [{0:.10f}], b = [{1:.20f}]'.format(a,b))
# . 앞에 아무것도 안붙이면 숫자 길이는 안정해진거고, 그냥 . 뒤에 몇자리 올지로 숫자 길이 정해진다.
# 그리고 이때 정렬은 못함!

a = [314.1500000000], b = [5.18759999999999976694]

## join
* 리스트에 특정 구분자를 추가하여 문자열로 반환하는 함수

In [0]:
list = ['a', 'b', 'c']
str = ",".join(list)
print(str)

a,b,c

In [0]:
list = ['a', 'b', 'c']
str = " ".join(list)
print(str)

a b c

In [0]:
list = ['a', 'b', 'c']
str = ":".join(list)
print(str)

a:b:c

## split
* 문자열을 특정 구분자를 기준으로 분리해서 리스트로 반환하는 함수

In [0]:
list2 = str.split(':')
print(list2)

['a', 'b', 'c']

## 딕셔너리란?
key와 Value를 한 쌍으로 갖는 자료형.
* 딕셔너리는 key를 통해 value를 얻는다.
* 영한 사전이라 생각할때, Key = "baseball"이면, Value = "야구"이다,
* baseball 이란 단어의 뜻을 찾기 위해 순차적으로 모두 검색하는 게 아니라 baseball이 있는 곳만 펼쳐보면 됨 (순차적인 리스트, 튜플 과는 다른 점이다.)

In [0]:
dic = {'name':'uhhyunjoo', 'age':23, 'height':168.1, 'colors':['black', 'white', 'blue']}
dic

{'name': 'uhhyunjoo',
 'age': 23,
 'height': 168.1,
 'colors': ['black', 'white', 'blue']}

* key에는 변하지 않는 값을 사용하고, Value는 변하는 값과 변하지 않는 값 모두 사용할 수 있다.
* Value에 리스트도 넣을 수 있다.

In [0]:
dic['효과음'] = '얍'
dic

{'name': 'uhhyunjoo',
 'age': 23,
 'height': 168.1,
 'colors': ['black', 'white', 'blue'],
 4: '얍',
 '효과음': '얍'}

In [0]:
del dic[4]
dic

{'name': 'uhhyunjoo',
 'age': 23,
 'height': 168.1,
 'colors': ['black', 'white', 'blue'],
 '효과음': '얍'}

In [0]:
dic['age']

23

In [0]:
dic = {1: 'A', 2: 'B', 2: 'C'}
dic[2]
# key가 동일하면 앞의 것은 무시된다.

'C'

In [0]:
dic = {'name':'uhhyunjoo', 'age':23, 'height':168.1}
dic.keys()
# a.keys()는 딕셔너리 a의 key만을 모아서 dict_keys 객체를 돌려준다.

dict_keys(['name', 'age', 'height'])

In [0]:
dic.values()

dict_values(['uhhyunjoo', 23, 168.1])

In [0]:
for i in dic.keys():
    print(i)

name
age
height

In [0]:
del list
list()
# 아 미친 이제 되네;;;
list(dic.keys())
# 왜 안되냐 악악악

[1, 2]

In [0]:
print(dic.get('name'))

uhhyunjoo

In [0]:
print(dic.get('nokey'))
# 얘는 None을 돌려주고

None

In [0]:
print(dic['nokey'])
# 얘는 KeyError를 돌려준다.

KeyError: 'nokey'

In [0]:
dic.get('name', 'default')

'uhhyunjoo'

In [0]:
dic.get('nokey', 'default')
# a.get('key', 'default') : 딕셔너리 a에 key값이 없으면 default를 돌려준다.

'default'

In [0]:
'name' in dic

True

In [0]:
'nokey' in dic

False

## 리스트에서 ':'는 어떻게 쓰는 걸까

In [0]:
a = [0,1,2,3,4,5,6,7,8,9,10]
b = a[:3]
b

[0, 1, 2]

In [0]:
c = a[3:]
c

[3, 4, 5, 6, 7, 8, 9, 10]

* b = a[i:j]라고 할때, b에는 a에서 index값이 i이상, j 미만인 친구들이 들어간다.
* b = a[:j]라고 하면, index값이 0 이상, j 미만
* b = a[i:]라고 하면, index값이 j이상 (+끝까지)

# % 으로 포맷팅하기

In [0]:
print("integer : %d, string : %s, float: %f" % (100, "hello", 1.23))

integer : 100, string : hello, float: 1.230000

In [0]:
print("My name is %s" % "uhhyunjoo")

My name is uhhyunjoo

In [0]:
print("My name is [%6s]" % "a") # 숫자 만큼 공간을 확보한다.

My name is [     a]

In [0]:
print("My name is [%6s]" % "aaaaaaaaaaaaaaaaaaa") # 넘어도 상관x

My name is [aaaaaaaaaaaaaaaaaaa]

In [0]:
print("integer : %d" % 1234)
print("integer : %04d" % 1234)
print("integer : %08d" % 1234)

integer : 1234
integer : 1234
integer : 00001234

# format 으로 포맷팅하기

In [0]:
print("integer : {}, string : {}, float: {}".format(123, "hello", 1.234))

integer : 123, string : hello, float: 1.234

In [0]:
print("integer : {0}, string : {1}, float: {2}".format(123, "hello", 1.234))

integer : 123, string : hello, float: 1.234

In [0]:
print("integer : {1}, string : {2}, float: {0}".format(123, "hello", 1.234))

integer : hello, string : 1.234, float: 123

In [0]:
fnames = ['cat.{}.jpg'.format(i) for i in range(10)]
fnames

['cat.0.jpg',
 'cat.1.jpg',
 'cat.2.jpg',
 'cat.3.jpg',
 'cat.4.jpg',
 'cat.5.jpg',
 'cat.6.jpg',
 'cat.7.jpg',
 'cat.8.jpg',
 'cat.9.jpg']

# List comprehensions

In [1]:
result = []
for i in range(10):
  result.append(i)

print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
result = [i for i in range(10) if i%2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [5]:
a = "Helllo"
b = "World"
result = [i+j for i in a for j in b]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [6]:
a = ["A", "B", "C"]
b = ["D", "E", "A"]
result = [i+j for i in a for j in b if not (i==j)]
result.sort()
print(result)

['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [7]:
words = "It is time of the seasons i just wanna breathe it in".split()
print(words)

stuff = [[w.upper(), w.lower(), len(w)] for w in words]
for i in stuff:
  print(i)

['It', 'is', 'time', 'of', 'the', 'seasons', 'i', 'just', 'wanna', 'breathe', 'it', 'in']
['IT', 'it', 2]
['IS', 'is', 2]
['TIME', 'time', 4]
['OF', 'of', 2]
['THE', 'the', 3]
['SEASONS', 'seasons', 7]
['I', 'i', 1]
['JUST', 'just', 4]
['WANNA', 'wanna', 5]
['BREATHE', 'breathe', 7]
['IT', 'it', 2]
['IN', 'in', 2]

In [8]:
for i, v in enumerate(['tic', 'tac', 'toe']):
  print (i, v)
# i : index
# v : value

0 tic
1 tac
2 toe

In [12]:
mylist = ["a", "b", "c", "d"]
list(enumerate(mylist))
{i:j for i,j in enumerate('Sejong University is an academic institute located in South Korea.'.split())}
# {} : dict type

{0: 'Sejong',
 1: 'University',
 2: 'is',
 3: 'an',
 4: 'academic',
 5: 'institute',
 6: 'located',
 7: 'in',
 8: 'South',
 9: 'Korea.'}

In [13]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
  print(a,b)

a1 b1
a2 b2
a3 b3

In [22]:
a, b, c = zip((1,2,3), (10,20,30), (100,200,300))
print(a)
print(b)
print(c)

(1, 10, 100)
(2, 20, 200)
(3, 30, 300)

In [21]:
d = [sum(x) for x in zip((1,2,3), (10,20,30), (100,200,300))]
print(d)

[111, 222, 333]

In [23]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a,b) in enumerate(zip(alist, blist)):
  print (i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3

In [0]:
# [] : list
# {} : dict
# () : tuple

# Lambda
* 함수 이름 없이, 함수처럼 쓸 수 있는 익명함수
* 수학의 람다 대수에서 유래
* 파이썬 3 부터는 권장하지 않는다.

In [25]:
# 일반 함수
def f(x,y):
  return x+y
print(f(1,8))

# 람다 함수
g = lambda x, y : x+y
# lambda 인자값 : 리턴
print(g(2,3))

9
5

# Map function
* Sequence 자료형 각 element에 동일한 function을 적용
 * 모두 값이 연속적(sequence)으로 이어져 있는 자료형 : 리스트, 튜플, range, 문자열
* map(function_name, list_data)

In [27]:
ex = [1,2,3,4,5] # Sequence형 자료형임.
f = lambda x : x ** 2
print(list(map(f,ex)))
# list까지 써줘야 실행된 결과값이 나온다.

[1, 4, 9, 16, 25]

In [28]:
ex = [1,2,3,4,5]
f = lambda x,y : x+y
print(list(map(f,ex,ex)))

[2, 4, 6, 8, 10]

In [30]:
ex1 = [1,2,3,4,5]
ex2 = [10, 20, 30, 40, 50]
f = lambda x,y : x+y
print(list(map(f,ex1,ex2)))

[11, 22, 33, 44, 55]

In [31]:
ex = [1,2,3,4,5]
print(list(map(lambda x: x**2 if x% 2 == 0 else x, ex)))

[1, 4, 3, 16, 5]

In [42]:
# 파이썬 3 에서는 lambda나 map 굳이 안쓰고, list comprehension으로 가능
ex = [1,2,3,4,5]
print([i **2 for i in ex])
print([i **2 for i in ex if i%2 == 0])

[1, 4, 9, 16, 25]
[4, 16]

# Reduce function
* map function과 달리 list에 똑같은 함수를 적용해서 통합

In [44]:
from functools import reduce
print(reduce(lambda x, y : x+y, [1,2,3,4,5]))
# 1 + 2 = 3
# 3 + 3 = 6
# 6 + 4 = 10
# 10 + 5 = 15
# Sequence에서 옆으로 가면서 적용

15

In [45]:
def factorial(n):
  return reduce(lambda x,y: x*y, range(1, n+1))

factorial(3)

6

# Asterisk
* 흔히 알고 있는 *를 의미함
* 단순 곱셈, 제곱 연산, 가변 인자 활용 등 다양한 게 사용됨.

In [46]:
def asterisk_test(a, *args):
  # 첫번째는 a값, 나머지는 *args로 한꺼번에 받아라
  print(a, args)
  print(type(args))
asterisk_test(1,2,3,4,5)
# 1은 a에 들어가고
# 2,3,4,5 는 *args에 들어간다

1 (2, 3, 4, 5)
<class 'tuple'>

In [47]:
def a_test(*args):
  print(args)
  print(type(args))
a_test(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>

In [48]:
def a_test(a, **kargs):
  print(a, kargs)
  print(type(kargs))

# b = 2 : 이걸 keyword 인자라고 하는데, ** 로 넘겨준다. dict type으로 들어간다.
a_test(1, b=2, c=3, d=4, e=5, f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [49]:
def a_test(**kargs):
  print(kargs)
a_test(a= 1, b =2, c= 3, d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [55]:
def a_test(a, *args): # 2~5를 튜플로 받겠다
  print(a, args) # 그리고 그 튜플을 그대로 출력
  print(type(args))
a_test(1,2,3,4,5)

1 (2, 3, 4, 5)
<class 'tuple'>

In [57]:
def a_test(a, args): #2~5를 튜플형태로 받겠다
  print(a, *args) # 그리고 언팩킹해서 그 값을 출력
  print(type(args))
a_test(1,(2,3,4,5))

1 2 3 4 5
<class 'tuple'>

In [60]:
a,b,c = ([1,2],[3,4],[5,6])
print(a,b,c)

[1, 2] [3, 4] [5, 6]

In [61]:
data = ([1,2], [3,4], [5,6])
print(*data)

[1, 2] [3, 4] [5, 6]

In [67]:
def a_test(a,b,c,d):
  print(a,b,c,d)
data = {"b":1, "c":2, "d":3}
a_test(10, **data) # keyword 인자 상태인 data 넣기
print(data)

10 1 2 3
{'b': 1, 'c': 2, 'd': 3}
b c d

In [69]:
for data in zip(*([1,2],[3,4],[5,6])):
  print(data)

(1, 3, 5)
(2, 4, 6)

In [70]:
for data in zip(*([1,2],[3,4],[5,6])):
  print(sum(data))

9
12

In [80]:
def a_test (a,b,c,d,e=2,f=1):
  print(a,b,c,d,e,f)

data ={"b":1, "c":2, "d":3}

a_test(100,**data)

100 1 2 3 2 1

# Data Structure - Collections
* list, tuple, dict 에 대한 python built-in 확장 자료 구조 (모듈)

In [0]:
from collections import deque # stack 과 queue를 지원하는 모듈
from collections import Counter
from collections import OrderedDict
from collections import defaultdict
from collections import namedtuple

In [92]:
from collections import deque # stack 과 queue를 지원하는 모듈
deque_list = deque()
for i in range(5):
  deque_list.append(i)
print(deque_list)

deque_list.appendleft(10)
deque_list.append(20) #append가 appendright임,,
print(deque_list)

deque_list.rotate(1)
print(deque_list)
deque_list.rotate(2)
print(deque_list)
deque_list.extend([3,4,5])
print(deque_list)
deque_list.extendleft([2,1])
print(deque_list)

print(deque(reversed(deque_list)))

deque([0, 1, 2, 3, 4])
deque([10, 0, 1, 2, 3, 4, 20])
deque([20, 10, 0, 1, 2, 3, 4])
deque([3, 4, 20, 10, 0, 1, 2])
deque([3, 4, 20, 10, 0, 1, 2, 3, 4, 5])
deque([1, 2, 3, 4, 20, 10, 0, 1, 2, 3, 4, 5])
deque([5, 4, 3, 2, 1, 0, 10, 20, 4, 3, 2, 1])

In [94]:
from collections import deque
import time

start_time = time.clock()
deque_list = deque()
# Stack
for i in range(10000):
  for i in range(10000):
    deque_list.append(i)
    deque_list.pop()
print(time.clock() - start_time, "seconds")

16.103581 seconds

In [95]:
start_time = time.clock()
just_list = []
for i in range(10000):
  for i in range(10000):
    just_list.append(i)
    just_list.pop()
print(time.clock() - start_time, "seconds")

26.182239000000003 seconds

list보다 deque가 더 빠르다

In [98]:
d = {}
d['b'] = 100
d['c'] = 200
d['d'] = 300
d['a'] = 0
d['x'] = 10
d['y'] = 20
d['z'] = 30
d['l'] = 50
# 모르겠고 원래 순서대로 안되나봐
for k, v in d.items():
  print(k,v)

b 100
c 200
d 300
a 0
x 10
y 20
z 30
l 50

In [100]:
from collections import OrderedDict
d = OrderedDict()
d['x'] = 10
d['y'] = 20
d['z'] = 30
d['l'] = 50
for k, v in d.items():
  print(k,v)

x 10
y 20
z 30
l 50

In [101]:
for k,v in OrderedDict(sorted(d.items(), key=lambda t : t[0])).items():
  print(k,v)
# sorted는 오름차순으로 정렬
# t[0] 때문에 l, x, y, x 순으로 정렬

l 50
x 10
y 20
z 30

In [102]:
for k,v in OrderedDict(sorted(d.items(), key=lambda t : t[1])).items():
  print(k,v)
# sorted는 오름차순으로 정렬
# t[1] 때문에 10,20,30,50 순으로 정렬

x 10
y 20
z 30
l 50

In [0]:
from collections import defaultdict