## Hello, world! 출력
print 함수로 Hello, world! 를 출력합니다.

In [0]:
print('Hello, world!')

Hello, world!

In []: 이 In [1]: 로 바뀌었는데, 1은 첫 번째로 실행된 코드라는 뜻임. 노트북에서는 코드 입력 셀이 추가될 수록 숫자가 증가함. 아래에 있는 셀 계속 실행하니까 숫자 계속 증가함.

In [0]:
str = 'www.naver.com'
a, b, c = str.split('.')
print(b)

naver

## 리스트 생성하기
range를 사용하여 숫자로 된 리스트를 생성해보자.

In [0]:
a = []
a

[]

a = list() 로 위의 셸과 동일하게 리스트를 생성할 수 있는데,
'list object is not callable'이라는 오류가 뜬다. ~~아직 해결 못 함.~~ 해결됨!
* Kernel restart 하고 del list 하니까 되더라

In [0]:
a = list()
a

[]

In [0]:
b = []
b.append(1)
b.append(2)
b

[1, 2]

In [0]:
c = 'Hi I am olaf and I like warm hug'.split()
c
c[3]

'olaf'

In [0]:
c[1:4]

['I', 'am', 'olaf']

In [0]:
c[5:-1]

['I', 'like', 'warm']

In [0]:
c[1:]

['I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [0]:
c[:8]

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm']

In [0]:
copy_c = c[:]
copy_c

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [0]:
copy_c2 = c.copy()
copy_c2

['Hi', 'I', 'am', 'olaf', 'and', 'I', 'like', 'warm', 'hug']

In [0]:
c.sort()
c

['Hi', 'I', 'I', 'am', 'and', 'hug', 'like', 'olaf', 'warm']

In [0]:
c.append('yeah')
c

['Hi', 'I', 'I', 'am', 'and', 'hug', 'like', 'olaf', 'warm', 'yeah']

In [0]:
a1, a2 =[1,2,3], [2,3,4]
a2

[2, 3, 4]

## 튜플이란?
튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

1. 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
2. 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

아 그리고 튜플에 값이 하나일때 맨뒤에 ',' 꼭 붙여줘야한다.

In [0]:
t1 = ()
t1

()

In [0]:
t2 = (1,)
t2

(1,)

In [0]:
t3 = (1,2,3)
t3

(1, 2, 3)

## enumerate 함수
* 리스트가 있는 경우, 순서와 리스트 값을 전달하는 기능
* enumerate : 열거하다
* 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력받아서 인덱스 값을 포함하는 enumerate 객체를 리턴한다.
* 보통 for문과 함께 자주 사용된다.

In [0]:
for i, name in enumerate(['apple', 'banana', 'carrot']):
    print(i, name)

0 apple
1 banana
2 carrot

In [0]:
import numpy as np
results = np.zeros((4,3))
# 4*3 행렬 만들고
for i, name in enumerate(['apple', 'banana', 'carrot']):
    results[i,2] = 1
# 리스트에서 i, name 가져와서 (i 는 0, 1, 2, name은 apple, banana, carrot)
# results[i,2]를 1 로 만든다.
results

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [0]:
names = ['Amy', 'Bill', 'Cindy']
for i, name in enumerate(names):
    print('{}번: {}'.format(i+1, name))

1번: Amy
2번: Bill
3번: Cindy

## print 함수와 format 함수

In [0]:
a = 1
b = 2
c = 3
print(' a  = {}, b = {}, c = {}'.format(a,b,c))

 a  = 1, b = 2, c = 3

In [0]:
print('a = {0}, b = {1}, c = {2}'.format(a,b,c))

a = 1, b = 2, c = 3

In [0]:
print('a = {0}, b = {0}, c = {0}'.format(a,b,c))
# format 뒤에있는 값들의 index를 넣으면 그 값이 print 된다.

a = 1, b = 1, c = 1

In [0]:
print('a = {2}, b = {1}, c = {0}'.format(a,b,c))
# format 뒤에있는 값들의 index를 넣으면 그 값이 print 된다.

a = 3, b = 2, c = 1

In [0]:
print('a = [{}], b = [{}], c = [{}]'.format(a,b,c))

a = [1], b = [2], c = [3]

In [0]:
print('a = ({}), b = [{}], c = [{}]'.format(a,b,c))
# {} 자리에 출력되는 거니까, 괄호 바꾸는 거 가능
# c언어에서 %연산자 사용하는 것과 비슷한다고 생각하면 됨

a = (1), b = [2], c = [3]

In [0]:
print('a = [{0:5d}], b = [{1:10d}], c = [{2:20d}]'.format(a,b,c))
#c랑 비슷하네 (index):(몇자리차지)(형태 ex>정수형은 d)

a = [    1], b = [         2], c = [                   3]

In [0]:
print('a = [{0:<5d}], b = [{1:>10d}], c = [{2:^20d}]'.format(a,b,c))
# ':'뒤에 < 붙이면 좌측 정렬, > 는 우측정렬(우측은 필요없긴함), ^는 가운데 정렬

a = [1    ], b = [         2], c = [         3          ]

In [0]:
a = 'apple'
b = 'banana'
a,b

('apple', 'banana')

In [0]:
print('a = {}, b = {}'.format(a,b))

a = apple, b = banana

In [0]:
print('a = {1}, b = {0}'.format(a,b))

a = banana, b = apple

In [0]:
print('a = [{0:10s}], b = [{1:20s}]'.format(a,b))

a = [apple     ], b = [banana              ]

In [0]:
print('a = [{0:<10s}], b = [{1:^20s}]'.format(a,b))

a = [apple     ], b = [       banana       ]

In [0]:
a = 314.15
b = 5.1876
print('a = {}, b = {}'.format(a,b))

a = 314.15, b = 5.1876

In [0]:
print('a = {1}, b = {0}'.format(a,b))

a = 5.1876, b = 314.15

In [0]:
print('a = {0:f}, b = {1:f}'.format(a,b))

a = 314.150000, b = 5.187600

In [0]:
print('a = [{0:10f}], b = [{1:20f}]'.format(a,b))

a = [314.150000], b = [            5.187600]

In [0]:
print('a = [{0:<10f}], b = [{1:^20f}]'.format(a,b))

a = [314.150000], b = [      5.187600      ]

In [0]:
print('a = [{0:10.2f}], b = [{1:5.1f}]'.format(a,b))
# index : (몇자리차지).(소수점뒤에몇자리)(형태 ex> 실수형 f)
# 이때 반올림 돼서 나타나진다.

a = [    314.15], b = [  5.2]

In [0]:
print('a = [{0:.10f}], b = [{1:.20f}]'.format(a,b))
# . 앞에 아무것도 안붙이면 숫자 길이는 안정해진거고, 그냥 . 뒤에 몇자리 올지로 숫자 길이 정해진다.
# 그리고 이때 정렬은 못함!

a = [314.1500000000], b = [5.18759999999999976694]

## join
* 리스트에 특정 구분자를 추가하여 문자열로 반환하는 함수

In [0]:
list = ['a', 'b', 'c']
str = ",".join(list)
print(str)

a,b,c

In [0]:
list = ['a', 'b', 'c']
str = " ".join(list)
print(str)

a b c

In [0]:
list = ['a', 'b', 'c']
str = ":".join(list)
print(str)

a:b:c

## split
* 문자열을 특정 구분자를 기준으로 분리해서 리스트로 반환하는 함수

In [0]:
list2 = str.split(':')
print(list2)

['a', 'b', 'c']

## 딕셔너리란?
key와 Value를 한 쌍으로 갖는 자료형.
* 딕셔너리는 key를 통해 value를 얻는다.
* 영한 사전이라 생각할때, Key = "baseball"이면, Value = "야구"이다,
* baseball 이란 단어의 뜻을 찾기 위해 순차적으로 모두 검색하는 게 아니라 baseball이 있는 곳만 펼쳐보면 됨 (순차적인 리스트, 튜플 과는 다른 점이다.)

In [0]:
dic = {'name':'uhhyunjoo', 'age':23, 'height':168.1, 'colors':['black', 'white', 'blue']}
dic

{'name': 'uhhyunjoo',
 'age': 23,
 'height': 168.1,
 'colors': ['black', 'white', 'blue']}

* key에는 변하지 않는 값을 사용하고, Value는 변하는 값과 변하지 않는 값 모두 사용할 수 있다.
* Value에 리스트도 넣을 수 있다.

In [0]:
dic['효과음'] = '얍'
dic

{'name': 'uhhyunjoo',
 'age': 23,
 'height': 168.1,
 'colors': ['black', 'white', 'blue'],
 4: '얍',
 '효과음': '얍'}

In [0]:
del dic[4]
dic

{'name': 'uhhyunjoo',
 'age': 23,
 'height': 168.1,
 'colors': ['black', 'white', 'blue'],
 '효과음': '얍'}

In [0]:
dic['age']

23

In [0]:
dic = {1: 'A', 2: 'B', 2: 'C'}
dic[2]
# key가 동일하면 앞의 것은 무시된다.

'C'

In [0]:
dic = {'name':'uhhyunjoo', 'age':23, 'height':168.1}
dic.keys()
# a.keys()는 딕셔너리 a의 key만을 모아서 dict_keys 객체를 돌려준다.

dict_keys(['name', 'age', 'height'])

In [0]:
dic.values()

dict_values(['uhhyunjoo', 23, 168.1])

In [0]:
for i in dic.keys():
    print(i)

name
age
height

In [0]:
del list
list()
# 아 미친 이제 되네;;;
list(dic.keys())
# 왜 안되냐 악악악

[1, 2]

In [0]:
print(dic.get('name'))

uhhyunjoo

In [0]:
print(dic.get('nokey'))
# 얘는 None을 돌려주고

None

In [0]:
print(dic['nokey'])
# 얘는 KeyError를 돌려준다.

KeyError: 'nokey'

In [0]:
dic.get('name', 'default')

'uhhyunjoo'

In [0]:
dic.get('nokey', 'default')
# a.get('key', 'default') : 딕셔너리 a에 key값이 없으면 default를 돌려준다.

'default'

In [0]:
'name' in dic

True

In [0]:
'nokey' in dic

False

## 리스트에서 ':'는 어떻게 쓰는 걸까

In [0]:
a = [0,1,2,3,4,5,6,7,8,9,10]
b = a[:3]
b

[0, 1, 2]

In [0]:
c = a[3:]
c

[3, 4, 5, 6, 7, 8, 9, 10]

* b = a[i:j]라고 할때, b에는 a에서 index값이 i이상, j 미만인 친구들이 들어간다.
* b = a[:j]라고 하면, index값이 0 이상, j 미만
* b = a[i:]라고 하면, index값이 j이상 (+끝까지)

# % 으로 포맷팅하기

In [1]:
print("integer : %d, string : %s, float: %f" % (100, "hello", 1.23))

integer : 100, string : hello, float: 1.230000

In [3]:
print("My name is %s" % "uhhyunjoo")

My name is uhhyunjoo

In [6]:
print("My name is [%6s]" % "a") # 숫자 만큼 공간을 확보한다.

My name is [     a]

In [9]:
print("My name is [%6s]" % "aaaaaaaaaaaaaaaaaaa") # 넘어도 상관x

My name is [aaaaaaaaaaaaaaaaaaa]

In [11]:
print("integer : %d" % 1234)
print("integer : %04d" % 1234)
print("integer : %08d" % 1234)

integer : 1234
integer : 1234
integer : 00001234

# format 으로 포맷팅하기

In [14]:
print("integer : {}, string : {}, float: {}".format(123, "hello", 1.234))

integer : 123, string : hello, float: 1.234

In [15]:
print("integer : {0}, string : {1}, float: {2}".format(123, "hello", 1.234))

integer : 123, string : hello, float: 1.234

In [16]:
print("integer : {1}, string : {2}, float: {0}".format(123, "hello", 1.234))

integer : hello, string : 1.234, float: 123